language: python
python:
  - 2.7
env:
  matrix:
    - PYZMQ='pyzmq>=14.3'
    - PYZMQ='pyzmq>=14.2,<14.3'
    - PYZMQ='pyzmq>=14.1,<14.2'
    - PYZMQ='pyzmq>=14.0,<14.1'
    - PYZMQ='pyzmq<14'
matrix:
  fast_finish: true
script: 
  - flake8 --ignore=E501,E128 zerorpc bin
  - ZPC_TEST_TIME_FACTOR=0.1 nosetests
before_install:
  - sudo apt-get update
  - sudo apt-get install python-dev libevent-dev
install:
  - pip install flake8
  - "pip install nose gevent msgpack-python $PYZMQ"
  - pip install . --no-deps
