dist: trusty
sudo: false
language: python
python:
  - 2.6
  - 2.7
  - 3.4
  - 3.5
env:
  matrix:
    - PYZMQ='pyzmq>=15'
    - PYZMQ='pyzmq>=14,<15'
    - PYZMQ='pyzmq>=13,<14'
matrix:
  fast_finish: true
addons:
  apt:
    packages:
      - python-dev
      - libevent-dev
install:
  - if [ $TRAVIS_PYTHON_VERSION != '2.6' ]; then
    pip install flake8;
    fi
  - "pip install nose $PYZMQ"
  - pip install .
  - pip freeze
script:
  - if [ $TRAVIS_PYTHON_VERSION != '2.6' ]; then
    flake8 --ignore=E501,E128 zerorpc bin;
    fi
  - nosetests -v
