language: python
python:
  - 2.6
  - 2.7
  - 3.4
  - 3.5
env:
  matrix:
    - PYZMQ='pyzmq>=15'
    - PYZMQ='pyzmq>=14,<15'
    - PYZMQ='pyzmq>=13,<14'
matrix:
  fast_finish: true
script:
  - flake8 --ignore=E501,E128 zerorpc bin
  - ZPC_TEST_TIME_FACTOR=0.2 nosetests -v
sudo: false
addons:
  apt:
    packages:
      - python-dev
      - libevent-dev
install:
  - pip install flake8
  - "pip install nose $PYZMQ"
  - pip install .
